.container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #f4f4f4;
}
.content {
    margin-left: 22%;
    width: 75%;
}